/*Form*/
.main-content {
  display: flex;
  flex-direction: column;

}
.new-img-btn {
  height: 4vh;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  border: none;
  width: 50%;
  margin: 0 auto;
}

.meme-inputs > input {
  min-width: 48%;
  height: 4vh;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
}

.meme-inputs {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}

.meme-form {
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
}

/* Header & Navigation*/
.header-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.header-image {
  width: 5vw;
  margin: 1vw;
}

.header-brand {
  display: flex;
  height: 4vh;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 2vh 5vw;
  color: white;
}

/*notes*/